/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { 
  height: 100%; 
}

body {
  background-color: white;
  color: #444;
  font-size: 18px;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; 
  font-family: sans-serif;
}

p { 
  margin: 10px 0 0 0; 
}

a {
  text-decoration: none;
  color: #4488CC;
}

/* Site */

.content-container {
  width: 960px;
  text-align: left;
  margin: 0 auto;
}

/* Header */

.header {
  background-color: #555;
  border-bottom: 3px solid #444;
}

.header h1 {
  font-size: 32px;
  padding: 30px 0;
}

.header a {
  text-decoration: none;
  color: white;
}

/* Content */
.sidebar {
  width: 220px;
  padding: 0 10px;
  display: inline-block;
  vertical-align: top;
}

.content {
  width: 710px;
  padding: 0 10 0 0px;
  display: inline-block;
}

h2 {
  font-size: 24px;
  padding: 18px 0;
}

h3 {
  font-size: 18px;
}

code {
  font-size: 15px;
  line-height: 110%;
}

pre {
  overflow: auto;
  margin: 10px 0;
}